%h1 CodeWorkout

%h2 Learn to code by practice
.col-md-6
  %ul
    %li Code solutions to exercises right in your browser
    %li Receive help and immediate feedback to improve your solutions
    %li Choose exercises from a variety of skills and concepts
