%h1 PEML Format for Exercises

%p 
  This page describes how to use PEML's 
  %a{ href: 'https://cssplice.github.io/peml/schemas/exercise.html#src' } data model 
  to describe assignments in CodeWorkout. PEML stands for Programming Exercise Markup 
  Language, and, as the name suggests, can be used to describe programming assignments
  (PEML does not have support for multiple choice questions). PEML follows a key-value
  structure with support for nested collections and dictionaries. The PEML data model
  describes a set of required keys, a set of recommended keys, and certain optional keys.
  Some of the keys are discussed in the following sections.