%h1 CodeWorkout Help

%ul
  %li
    %a{ href: '/help/exercise_format' }
      Format for defining exercises
  %li
    %a{ href: '/help/lti_configuration' }
      Configuration/setup for LTI connectivity in LMSes
