=link_to questions_path do
    .btn.btn-default
        %span.glyphicon.glyphicon-arrow-left
            Back

%h1 Create a new Question

=render(:partial => 'application/record_error_messages', :locals => {:record => @question})

= form_for(@question, url: questions_path) do |f|

    =render partial: 'form', :locals => {:f => f}
    = submit_tag("Submit")