
<script type="text/javascript">

	$(function() {
		$('#addhints').click(function() {
			$('.hint-hidden').first().toggle().toggleClass('hint-hidden');
			return false;
		})
		
	})
</script>

<div>
	<h1>Hints</h1>
</div>
<div class="hint-styling hint-hidden" style="display: none;">
	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum?
</div>
<div class="hint-styling hint-hidden" style="display: none;">
	Lorem Ipsum is simply dummy text
</div>
<div class="hint-styling hint-hidden" style="display: none;">
	of the printing and typesetting industry. Lorem Ipsum?
</div>