<style>
	.discussion_forum {
		padding-top: 20px;
	}
	

</style>

<div class="row max-height" id="main">
	<div class="col-md-3 scrollable max-height sidebar">
		<div class="below-nav">
			<!-- Sidebar Content goes here -->
			<div>
					<%= render "exercises/thumbnail_new" %>
			</div>
		<div>
					<%= render "exercises/thumbnail_new" %>
			</div>
		</div>
	</div>

	<div class="col-md-9 scrollable max-height content">
		<div class="row below-nav">
			<div class="col-md-9">
				<!-- Excercise content goes here -->
				Excercise Content
				<br />
				Lorem Ipsum is simply dummy text of the printing and
				typesetting industry. Lorem Ipsum has been the industry's
				standard dummy text ever since the 1500s, when an unknown printer
				took a galley of type and scrambled it to make a type specimen book.
				It has survived not only five centuries, but also the leap into electronic
				typesetting, remaining essentially unchanged. It was popularised in the 1960s
				with the release of Letraset sheets containing Lorem Ipsum passages, and more
				recently with desktop publishing software like Aldus PageMaker including versions
				of Lorem Ipsum.
			</div>
			<div class="col-md-3">
				<!-- Hints go Here -->
				Hints
			</div>
		</div>
		<div class="row col-md-12 discussion_forum">
			<!-- Discussion goes here -->
			Discussion Forum
		</div>
	</div>

</div>
