<style>
	.homepageedges {

		margin-left: 160px;
		margin-right: 160px;
	}

	.homebackground {
		background-image:url(/assets/bimage1.png) ;
		margin-top: 50px;
		margin-bottom: 50px;
		height:300px;
		border: 1px solid #63666a;
	}

	.coastyle {

	}
	
	.columntitles{
		margin-bottom:10px;
		font-size:14pt;
		
	}
	
	.columntext li{
		list-style:none;
	}

</style>

<div class="homepageedges">
	<div class="row">
		<div class="homebackground">

			<div class="row">
				<button style="float: left; margin-left: 20px; margin-top:30px;" type="button" class="btn btn-primary " data-toggle="button" aria-pressed="false" autocomplete="off">
					Easy testing? Autograded Assignments? Add your course to CodeWorkout.
				</button>
			</div>
			<div class="row">
				<button style="float:right; margin-right: 20px; margin-top: 30px;" type="button" class="btn btn-primary " data-toggle="button" aria-pressed="false" autocomplete="off">
					Is your class using CodeWorkout? Click here to join your course.
				</button>
			</div>
			<div class="row">
				<button style="float:left; margin-left: 20px; margin-top: 30px; margin-right: 10px;" type="button" class="btn btn-primary " data-toggle="button" aria-pressed="false" autocomplete="off">
					Learning a new language? Work Out one step at a time
				</button>
			</div>
		</div>

	</div>
	<div class="row columntitles">
		<div class="col-lg-4" style="text-align: left;">
			Teach
		</div>
		<div class="col-lg-4" style="text-align: left;">
			Learn
		</div>
		<div class="col-lg-4" style="text-align: left;">
			Drill and Practice
		</div>
	</div>
	<div class="row columntext">
		<div class="col-lg-4">
			<ul style ="padding-left: 0px;">
				<li>
					Current Courses
					<ul style ="padding-left: 0px;" >
						<li>
							CS1114
						</li>
						<li>
							CS1115
						</li>
					</ul>
				</li>
				<li>
					Add A New Course
				</li>
				<li>
					Add A New Workout to a Course
				</li>
			</ul>

		</div>
		<div class="col-lg-4">

			<ul style ="padding-left: 0px;">

				<li>
					CS114 HomePage
				</li>
				<li>
					Check your Grades
				</li>

			</ul>

		</div>
		<div class="col-lg-4">

			<ul style ="padding-left: 0px;">

				<li>
					Most Popular Workouts
				</li>
				<li>
					Recommended Workouts for you
				</li>
				<li>
					Create your own Excercise
				</li>
				<li>
					Create your Workout
				</li>
				<li>
					Check your Experience Points
				</li>

			</ul>

		</div>
	</div>
</div>
