  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to "CodeWorkout", '#', class: "brand" %>
        <nav class="nav-collapse collapse">
          <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">Joe Hokie</a>
          </p>
          <ul class="nav">
            <li class="active"><%= link_to "Home",    '#' %></li>
            <li><%= link_to "Assignments",    '#' %></li>
            <li><%= link_to "Help",    '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

<div class="row-fluid max-height" id="main">
  <div class="span8 scrollable max-height leftcol">
  	<div class="below-nav">
 
      <h1>Question: Does Flubber Bounce?</h1>
      <p>
  		This is the main content area ...
      </p>

 </div>
  </div>
  <div class="span4 scrollable max-height rightcol">
  	<div class="below-nav">

    <p>This is the question sidebar area ...</p>

    </div>
  </div>
</div>
