#description
  CodeWorkout is an online system for coding practice. It is a free,
  open-source solution for practicing small programming problems.
  Students may practice coding exercises on a variety of programming
  concepts within the convenience of a web browser! Exercises provide
  customized, immediate feedback to support learning and suggests
  appropriate exercises as students improve their mastery. CodeWorkout
  features:

  %ul
    %li
      Persistently growing pool of coding exercises and multiple choice
      questions
    %li Curated exercises to maintain high-quality problems
    %li Adaptive feedback to help students progress
    %li "Workouts" of customized, related sets of exercises
    %li Badges and social motivators to keep students practicing
    %li
      Support for use in programming courses, including roster enrollment,
      private exercises, and monitoring student activity

#links
  CodeWorkout is in active development and is planning for an initial launch
  Fall 2014.
  %ul
    %li
      Want to use CodeWorkout in your class?
      %a{ href: "http://web-cat.org/forum/195" }
        Let us know by posting in the CodeWorkout Forum.

  Learn more about CodeWorkout, ask questions, or contribute to the
  project:
  %ul
    %li
      %a{ href: "http://web-cat.org/node/296/content/forum"}
        Discuss CodeWorkout or ask questions in the forum
    %li
      %a{ href: "http://dl.acm.org/citation.cfm?id=2567861"}
        Read more about CodeWorkout in our abstract from the Learning@Scale
        (L@S'14) conference
    %li
      %a{ href: "https://github.com/web-cat/code-workout"}
        Contribute to the open-source code on Github
