  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to "CodeWorkout", '#', class: "brand" %>
        <nav class="nav-collapse collapse">
          <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">Joe Hokie</a>
          </p>
          <ul class="nav">
            <li class="active"><%= link_to "Home",    '#' %></li>
            <li><%= link_to "Assignments",    '#' %></li>
            <li><%= link_to "Help",    '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

<div class="row-fluid max-height" id="main">
  <div class="span8 scrollable max-height leftcol">
  	<div class="below-nav">
      <h1>Question: minVal()</h1>
      <p>Write a method called <code>minVal()</code> that takes an array
      of <code>int</code> values as a parameter and returns the smallest
      value in the array.</p>
<pre lang="text/x-java">
public static int minVal(int[] y)
{
    int bestSoFar = y[0];
    for (int i = 1; i &lt;= y.length; i++)
    {
        if (y[i] &lt; bestSoFar)
        {
            bestSoFar = i;
        }
    }

    return bestSoFar;
}
</pre>
<!--      <h1>Question: maxRow()</h1>
<p>The following method, called <code>maxRow()</code>, is intended to take one parameter: a <code>List</code> where the elements are <code>List</code>s of <code>Integer</code> objects. You can think of this parameter as a matrix--a list of rows, where each row is a list of "cells" (plain integers). The method sums up the integers in each row (each inner list), and returns the index (row number) of the row with the largest row sum. Fill in the blanks so that this method works as intended:</p>
<pre lang="text/x-java">public static int maxRow(List&lt;List&lt;Integer&gt;&gt; matrix)
{
    int maxVec = -1;                                // Line 1
    int maxSum = Integer.MIN_VALUE;                 // Line 2

    for (int row = 0; row &lt; __________; row++)      // Line 3
    {
        int sum = 0;                                // Line 4
        for (int col = 0; col &lt; __________; col++)  // Line 5
        {
            sum = sum + __________;                 // Line 6
        }
        if (___________)                            // Line 7
        {
            maxSum = __________;                    // Line 8
            maxVec = __________;                    // Line 9
        }
    }
    return maxVec;                                  // Line 10
}
</pre>-->

<form>
<button class="btn btn-default" type="button">Check my answer!</button>
</form>
<!--
<hr/>  		
  		<h1>H1 Text Goes Here</h1>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit <a href="#">amet risus</a>. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
    <p><a href="#" class="btn btn-default">Button</a></p>
    <p><button class="btn">Button</button></p>
    <p><a href="#" class="btn btn-warning">Button</a></p>
    <p><a href="#" class="btn btn-primary">Button</a></p>
    <p><a href="#" class="btn btn-success">Button</a></p>
  		<h2>H2 Text Goes Here</h2>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  		<h3>H3 Text Goes Here</h3>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
   </p>-->
 </div>
  </div>
  <div class="span4 scrollable max-height rightcol">
  	<div class="below-nav">

      <form class="form-search">
        <input type="text" class="input-medium search-query" placeholder="find topics ...">
        <button type="submit" class="btn btn-default">Search</button>
      </form>

      <h2>Assigned</h2>
      <article>
        <time>July 30</time>
        <h3><a href="#">A-level/B-status</a>
          <span class="difficulty">(difficulty: 8)</span></h3>
        <p>What output will the following code fragment produce? ...<br/>
        	<a href="#" class="tag">tag1</a>
        	<a href="#" class="tag">tag2</a>
        	<a href="#" class="tag">tag3</a>
        	<a href="#" class="tag">tag4</a>
        	<a href="#" class="tag">tag5</a>
        </p>
      </article>
      <article>
        <time>July 30</time>
        <h3><a href="#">A-level/B-status</a>
          <span class="difficulty">(difficulty: 8)</span></h3>
        <p>What output will the following code fragment produce? ...<br/>
        	<a href="#" class="tag">tag1</a>
        	<a href="#" class="tag">tag2</a>
        	<a href="#" class="tag">tag3</a>
        	<a href="#" class="tag">tag4</a>
        	<a href="#" class="tag">tag5</a>
        </p>
      </article>
      <article>
        <time>July 30</time>
        <h3><a href="#">A-level/B-status</a>
          <span class="difficulty">(difficulty: 8)</span></h3>
        <p>What output will the following code fragment produce? ...<br/>
        	<a href="#" class="tag">tag1</a>
        	<a href="#" class="tag">tag2</a>
        	<a href="#" class="tag">tag3</a>
        	<a href="#" class="tag">tag4</a>
        	<a href="#" class="tag">tag5</a>
        </p>
      </article>
  		
      <h2>Attempted</h2>
      <article>
        <time>July 30</time>
        <h3><a href="#">A-level/B-status</a>
          <span class="difficulty">(difficulty: 8)</span></h3>
        <p>What output will the following code fragment produce? ...<br/>
        	<a href="#" class="tag">tag1</a>
        	<a href="#" class="tag">tag2</a>
        	<a href="#" class="tag">tag3</a>
        	<a href="#" class="tag">tag4</a>
        	<a href="#" class="tag">tag5</a>
        </p>
      </article>
      <article>
        <h3><a href="#">A-level/B-status</a>
          <span class="difficulty">(difficulty: 8)</span></h3>
        <p>What output will the following code fragment produce? ...<br/>
        	<a href="#" class="tag">tag1</a>
        	<a href="#" class="tag">tag2</a>
        	<a href="#" class="tag">tag3</a>
        	<a href="#" class="tag">tag4</a>
        	<a href="#" class="tag">tag5</a>
        </p>
      </article>
      <article>
        <h3><a href="#">A-level/B-status</a>
          <span class="difficulty">(difficulty: 8)</span></h3>
        <p>What output will the following code fragment produce? ...<br/>
        	<a href="#" class="tag">tag1</a>
        	<a href="#" class="tag">tag2</a>
        	<a href="#" class="tag">tag3</a>
        	<a href="#" class="tag">tag4</a>
        	<a href="#" class="tag">tag5</a>
        </p>
      </article>

      <h2>Recommended</h2>
      <article>
        <h3><a href="#">A-level/B-status</a>
          <span class="difficulty">(difficulty: 8)</span></h3>
        <p>What output will the following code fragment produce? ...<br/>
        	<a href="#" class="tag">tag1</a>
        	<a href="#" class="tag">tag2</a>
        	<a href="#" class="tag">tag3</a>
        	<a href="#" class="tag">tag4</a>
        	<a href="#" class="tag">tag5</a>
        </p>
      </article>
      <article>
        <h3><a href="#">A-level/B-status</a>
          <span class="difficulty">(difficulty: 8)</span></h3>
        <p>What output will the following code fragment produce? ...<br/>
        	<a href="#" class="tag">tag1</a>
        	<a href="#" class="tag">tag2</a>
        	<a href="#" class="tag">tag3</a>
        	<a href="#" class="tag">tag4</a>
        	<a href="#" class="tag">tag5</a>
        </p>
      </article>
      <article>
        <h3><a href="#">A-level/B-status</a>
          <span class="difficulty">(difficulty: 8)</span></h3>
        <p>What output will the following code fragment produce? ...<br/>
        	<a href="#" class="tag">tag1</a>
        	<a href="#" class="tag">tag2</a>
        	<a href="#" class="tag">tag3</a>
        	<a href="#" class="tag">tag4</a>
        	<a href="#" class="tag">tag5</a>
        </p>
      </article>
    </div>
  </div>
</div>

<!-- ><div class="row-fluid max-height">
  <div class="span3 scrollable max-height">
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
    <p>Sections:</p>
    <ul>
      <li>Assigned</li>
      <li>Unanswered/Unfinished</li>
      <li>Related</li>
      <li>Recommended</li>
      <li>Recently completed</li>
      <li>Badges?</li>
    </ul>
    <p>Info:</p>
    <ul>
      <li>Question name</li>
      <li>Due date (optional?)</li>
      <li>First line of question text?</li>
      <li>Topics/Tags</li>
      <li>Difficulty?</li>
      <li>Answered correctly yet?</li>
    </ul>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  </div>
  <div class="span9 scrollable max-height">
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
      tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus. Etiam porta sem malesuada magna mollis
      euismod. Donec sed odio dui.
    </p>
  </div>
</div> -->
