%h1 CodeWorkout

%h2 Learn to code by practice
.col-md-6
  %ul
    %li Code solutions to exercises right in your browser
    %li Receive help and immediate feedback to improve your solutions
    %li Choose exercises from a variety of skills and concepts

%h2 Track your progress
.col-md-6
  %ul
  	%li Earn experience points (XP) as you complete exercises
  	%li More difficult exercises earn more XP
  	%li Review your mastery by topic
  	%li Earn your way up to a black belt as you master each topic

%h2 Customized for your learning
.col-md-6
  %ul
    %li Hints provide help, adapted to your needs
    %li Related exercises are suggested at the appropriate difficulty level
    %li All exercises are vetted to provide the best opportunity for learning and to eliminate poor exercises

%h2 Contribute to CodeWorkout
.col-md-6
  %ul
    %li Write hints to help others learn
    %li Ask questions and discuss exercises with the authors and the rest of the CodeWorkout community
    %li Create new exercises and share them with the world
    %li Create groups of related exercises as custom workouts

%h2 For teachers...
.col-md-6
  %ul
    %li Manage your own course and enroll student rosters
    %li Monitor student learning by topic
    %li Write both coding and multiple choice questions
    %li Create private exercises for your course only, or share your exercises with everyone
    %li Review performance metrics on each exercise

%h2 Be the first to use CodeWorkout!
.col-md-6
  %ul
    %li Launch scheduled for Fall 2014
    %li 
      Interested in using CodeWorkout in your class?
      %a(href="http://web-cat.org/forum/195") Let us know by posting in the CodeWorkout Forum
    %li 
      Read more about CodeWorkout in
      %a(href="http://dl.acm.org/citation.cfm?id=2567861") our abstract from Learning@Scale 2014
