.form-horizontal
  .form-group
    = label_tag :name, 'Workout Name', class: 'control-label col-sm-2'
    .col-sm-6
      = text_field_tag :name, nil, id: 'workout-name', class: 'form-control', maxlength: 50, placeholder: 'Enter Workout Name'
  .ex-area
    %ul#ex-list.list-group
