<style>
	.filtersort {
		margin-left: 10px;
		margin-top: 10px;
		font-size: 11pt;
	}

</style>

<div class="form-inline filtersort">
	<div style="float: right; padding-right:13px;">
		<label>Sort by</label>
		<select class="form-control">
			<option value="due">Due Date</option>
			<option value="mostRecent">Newly Added</option>
			<option value="mostPoints">Points</option>
			<option value="workoutpolicy">Workout Policy</option>>
		</select>
	</div>
</div>