-#TODO: replace with session data for user
.row-fluid
  %h2
    .span8
      =w.name
    .span4
      - xp_data = Workout.xp_distribution(1,w.id)
      = render :partial => 'workouts/progress', 
        :locals => {:xp_data => Workout.xp_distribution(1,w.id)}
.row-fluid
  - w.all_tags.each do |t|
    =link_to(t, search_path(:search => t), method: :post, class: "tag")
.row-fluid
  %br
.row-fluid
- if exs.empty?
  .alert No exercises remaining
- else
  = render partial: "exercises/thumbsm", collection: exs, as: :x