- workout_score ||= nil
- exs ||= nil
- if workout_score
  = render workout_score.workout, size: 'sm', workout_score: workout_score
  - exs = workout_score.workout.exercises

- if exs
  -if exs.empty?
    .alert No exercises remaining
  - else
    = render exs,
      user: current_user,
      workout_score: workout_score,
      workout_offering: workout_score.andand.workout_offering,
      workout: workout_score.andand.workout,
      size: 'sm', review: review
