- workout_score ||= nil
- workout_offering ||= workout_score.andand.workout_offering
- exs ||= nil
- review ||= false
- workout = workout_score.andand.workout || workout_offering.andand.workout
- if workout
  - exs = workout.exercises
  - cache [workout_score, workout, workout_offering] do
    = render workout, size: 'sm', workout_score: workout_score, workout_offering: workout_offering

- if exs
  -if exs.empty?
    .alert No exercises remaining
  - else
    - cache ["exthumbs", workout_score, workout_score.andand.workout, exs, review] do
      = render exs,
        user: current_user,
        workout_score: workout_score,
        workout_offering: workout_offering,
        workout: workout_score.andand.workout,
        size: 'sm', review: review
