.well.well-small.span5
  .row-fluid
    %p.teaser-title.span10.slim
      = link_to w.name, workout_path(:id => w[:id])
      %span.badge.badge-info
        = w.exercises.count.to_s
        %i.icon-bolt
    .span2
      = difficulty_image(w.highest_difficulty.to_i)
  .row-fluid
    .span12
      - xp_data = Workout.xp_distribution(1,w.id)
      = render :partial => 'workouts/progress', 
        :locals => {:xp_data => Workout.xp_distribution(1,w.id)}
  .row-fluid
    .span12
      %p.span12.teaser-tags.slim
        - w.all_tags.each do |t|
          =link_to(t, search_path(:search => t), method: :post, class: "tag")
-#TODO replace with logged in user id session data