

<div>
	<div class="workout-thumbnail">

		<div class="workout-title">
			<span class="glyphicon glyphicon-list-alt"></span>
			<span>Workout Title</span>
			<span class=" workout-points workout-duedate"> 10/7</span>
		</div>

		<div class="workout-text spacer" >
			Lorem Ipsum is simply dummy text of the printing and typesetting industry
		</div>

		<div class="spacer workout-tagandpoints">
			<span>tag1</span>
			<span>tag2</span>

			<span class="workout-points">?/30pts</span>
		</div>

	</div>

	<div class="progress workout-thumbnail-progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
			<span class="sr-only">Not Started</span>
		</div>
	</div>

</div>