%tr.offering.fields{ data: { id: workout_offering.andand.id } }
  %td.course-offering{ data: { course_offering_id: course_offering.andand.id } }
    %small.display{style: 'font-size: small;'}
      = course_offering.andand.display_name_with_term
  %td
    .input-group.date.opening-datepicker{ data: { date: workout_offering.andand.opening_date.andand.to_i } }
      %input.datepicker{ type: 'text', class: 'form-control', placeholder: 'Set date' }
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
  %td
    .input-group.date.soft-datepicker{ data: { date: workout_offering.andand.soft_deadline.andand.to_i } }
      %input.datepicker{ type: 'text', class: 'form-control', placeholder: 'Set date' }
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
  %td
    .input-group.date.hard-datepicker{ data: { date: workout_offering.andand.hard_deadline.andand.to_i } }
      %input.hard-datepicker.datepicker{ type: 'text', class: 'form-control', placeholder: 'Set date' }
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
  %td
    = button_tag type: 'button', class: 'add-extension btn btn-sm btn-primary',
      data: { toggle: 'modal', target: '#extension-modal' } do
      Add Extension
  %td
    %i.fa.fa-times.action.delete-offering{ data: { removable: "#{removable}" } }
