%tr.offering.fields
  %td
    = collection_select nil, nil, current_user.managed_course_offerings, :id, :display_name_with_term,
      { prompt: 'Select one' }, { class: 'coff-select form-control input-sm' }
  %td
    %input.opening-datepicker.datepicker{ type: 'text', class: 'form-control input-sm',
      placeholder: 'Set date' }
  %td
    %input.soft-datepicker.datepicker{ type: 'text', class: 'form-control input-sm',
      placeholder: 'Set date' }
  %td
    %input.hard-datepicker.datepicker{ type: 'text', class: 'form-control input-sm',
      placeholder: 'Set date' }
  %td
    = button_tag type: 'button', class: 'add-extension btn btn-sm',
      disabled: true, data: { toggle: 'modal', target: '#extension-modal' } do
      Add Extension
  %td
    - if removable
      %i.fa.fa-times.action.delete-offering
