%tr.offering.fields{ data: { id: workout_offering.andand.id } }
  %td
    = collection_select nil, nil, current_user.managed_course_offerings, :id, :display_name_with_term,
      { prompt: 'Select one', selected: workout_offering.andand.course_offering_id },
      { class: 'coff-select form-control input-sm', disabled: disabled }
  %td
    %input.opening-datepicker.datepicker{ type: 'text', class: 'form-control input-sm',
      placeholder: 'Set date', data: { date: workout_offering.andand.opening_date.andand.to_i } }
  %td
    %input.soft-datepicker.datepicker{ type: 'text', class: 'form-control input-sm',
      placeholder: 'Set date', data: { date: workout_offering.andand.soft_deadline.andand.to_i } }
  %td
    %input.hard-datepicker.datepicker{ type: 'text', class: 'form-control input-sm',
      placeholder: 'Set date', data: { date: workout_offering.andand.hard_deadline.andand.to_i } }
  %td
    = check_box_tag 'published', 'published', workout_offering.andand.published, class: 'form-control published'
  %td
    = button_tag type: 'button', class: 'add-extension btn btn-sm ' + (disabled ? 'btn-primary' : ''),
      disabled: !disabled, data: { toggle: 'modal', target: '#extension-modal' } do
      Add Extension
  %td
    - if removable
      %i.fa.fa-times.action.delete-offering
