%p= 'Your score is ' + @user_workout_score.round(2).to_s + ' out of total possible ' + @max_workout_score.round(2).to_s
%table{ border: 3 }
  %tr
    %td Exercise Name
    %td Your score
    %td Maximum score
  - @current_workout.exercises.each do |exer|
    %tr
      %td=exer.name
      %td=Attempt.where(exercise_version: exer.current_version).last.score.round(2)
      %td=ExerciseWorkout.findExercisePoints(exer.id, @current_workout.id)
%br
- @workout_feedback.each do |line|
  %p= line
