%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active= 'Gym'
  
%h1 The Gym
- if @gym.empty?
  .alert No workouts found
- else
  %h2 Popular Workouts
  = render partial: "thumblg", collection: @gym, as: :w
