%h1 The Gym
- if @gym.empty?
  .alert No workouts found
- else
  %h2 Popular Workouts
  - user_id = user_signed_in? ? current_user.id : 1
  - @gym.in_groups_of(2, false) do |row|
    = render partial: "workouts/thumblg", collection: row, as: :w,
      locals: { uid: uid }
    .clearfix
