= render 'layouts/breadcrumb'

%h1 The Gym
- if @gym.empty?
  .alert No workouts found
- else
  %h2 Popular Workouts
  - user_id = user_signed_in? ? current_user.id : 0
  - @gym.in_groups_of(2, false) do |row|
    = render row, locals: { uid: user_id }
    .clearfix
