%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Gym', gym_url
  %li.active Workouts

%h1 Workouts
- if can? :create, Workout
  %p= button_link 'Create New', new_workout_path, class: 'btn btn-primary'
- if @workouts.size > 0
  - uid = user_signed_in? ? current_user.id : 0
  - @workouts.in_groups_of(2, false) do |row|
    = render row, locals: { uid: uid }
    .clearfix
- else
  %p
    No public workouts are available to view right now.  Please wait for
    contributors to add more.
