%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Gym', gym_url
  %li.active Workouts

%h1 Workouts

- uid = user_signed_in? ? current_user.id : 0
- @workouts.in_groups_of(2, false) do |row|
  = render partial: "workouts/thumblg", collection: row, as: :w,
    locals: { uid: uid }
  .clearfix
