$('.search-results').empty();
- if @msg
  $('.search-results').append("#{@msg}<br/>")
- @workouts.in_groups_of(2, false) do |row|
  $('.search-results').append("#{escape_javascript(render row, user: current_user, new_or_existing: true)}")
