.row-fluid
  .span12
    - @workouts.each do |w|
      %h1.span6=w.name
      .span6= render :partial => 'workouts/progress', 
              :locals => {:xp_data => Workout.xp_distribution(1,w.id)}
.row-fluid
  .container-fluid.span12
    - if @exs.empty?
      .alert No exercises in this workout
    - else
      - @exs.in_groups_of(2, false) do |ex_row|
        .clearfix
        = render partial: "exercises/thumblg", collection: ex_row, as: :x