#new-enrollment-modal.modal.hide.fade
  .modal-dialog.modal-lg{ style: 'overflow-y: scroll; max-height:85% margin-top: 50px; margin-bottom:50px;' }
    .modal-content.searchable
      .modal-header.header
        %p.lead Enroll a User
      .modal-body
        %h2 Pending
      .modal-footer
        Pending
