%h1 Users

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Image
      %th Last name
      %th First name
      %th Email
      - if user_signed_in?
        %th Role
        %th Actions

  %tbody#users
    - if @users.empty?
      %td{ colspan: 4 }
        .alert There are no users to list.
    - else
      = render @users

- if @users.is_a?(Array)
  #users_paginator= paginate @users, remote: true

- if can? :manage, User
  = button_link 'New User', new_user_path
