%h1 Send Us Your Exercises!

%p
  While CodeWorkout allows you to author your own exercises, not all educators
  want to take the time to do this.
  <strong>If you have exercises you want to share</strong>,
  in the form of written tests, quizzes, or question banks,
  %strong We will import them for you
  as long as you are willing to share them publicly with others.
  E-mail your exercises to
  <a href="mailto:questionbank@vt.edu">questionbank@vt.edu</a>
  and we'll convert them for you!

%p
  All exercises you submit must be your own work, and will be released to
  others under the Creative Commons
  <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
  Attribution-NonCommercial-ShareAlike 4.0 International</a>
  license.
