%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active License

%h1 CodeWorkout License

%p
  CodeWorkout is Copyright &copy; 2015 by Virginia Tech.
  %br
  All rights reserved.

%p
  CodeWorkout is free software; you can redistribute it and/or modify
  it under the terms of the
  <a href="http://www.gnu.org/licenses/agpl-3.0.html">
  GNU Affero General Public License</a>
  as published
  by the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.

%p
  CodeWorkout is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

%p
  You can obtain a copp of the GNU Affero General Public License
  on-line at:
  <a href="http://www.gnu.org/licenses/agpl-3.0.html">
  http://www.gnu.org/licenses/agpl-3.0.html</a>.

%p
  CodeWorkout's source code is available at:
  <a href="https://github.com/web-cat/code-workout">
  https://github.com/web-cat/code-workout</a>.

%p
  All publicly available exercises on this site are copyrighted by
  each individual exercise's author, and are made available for use under
  the Creative Commons
  <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
  Attribution-NonCommercial-ShareAlike 4.0 International</a>
  license.
