%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Privacy Policy

%h1 Privacy Policy

:markdown
  We adhere to [Virginia Tech's policy on Acceptable Use](https://policies.vt.edu/7000.pdf).
  We may use data from CodeWorkout in *anonymized* and *aggregate* form for research purposes, subject to approval by our [institutional review boards](https://www.research.vt.edu/era/irb-protocol-management.html).
  If you author exercises, use or sharing of your exercises is governed by the licensing terms you have selected.

Example data usage can include but is not limited to:
%ul
  %li Code submissions 
  %li Multiple-choice exercise submissions
  %li Submission timestamps
  %li Exercise or workout scores

If you are an instructor using CodeWorkout, an anonymized data dump of submissions coming from your course or institution is available upon request. Controls to download your course data yourself will be available at a later date.
