@import url(//fonts.googleapis.com/css?family=PT+Sans);
@import url(//fonts.googleapis.com/css?family=Rokkitt:400,700);

body {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
}
.sidebar { font-size: 14px; line-height: 16px; }
.navbar-inverse .navbar-brand {
  font-family: "Rokkitt", "PT Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 28px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Rokkitt", "PT Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}
.CodeMirror { font-size: 13px; line-height: 18px; }
.sidebar h2 { font-size: 20px; line-height: 26px; }
.sidebar h3, .sidebar h3 a { font-size: 16px; line-height: 20px; }
.sidebar .difficulty { font-weight: normal; font-size: 13px; }
.sidebar article time { font-size: 13px; }
label { font-weight: inherit; }
.tag { font-weight: inherit; }
.nested-section { font-weight: normal; font-size: 13px; }
.teaser-title p { font-size: 20px; line-height: 26px; }
