/* codemirror style for this theme */
@import "theme/cm/aptana";
@import "font";

.content {
  background: #f8eedf;
  background: -webkit-gradient(linear, left top, right top,
    from(#fff7ea), color-stop(90.0%,#fff7ea), to(#f8eedf));
  background: -moz-linear-gradient(left, #fff7ea 100.0%, #f8eedf);
  background: linear-gradient(left, #fff7ea 100.0%, #f8eedf);
}
.content .inner {
  border-left: 2px solid #fff7ea;
}
.sidebar .inner {
  border-right: 4px solid #dfcdb2;
  background: -webkit-gradient(linear, left top, right top,
    from(#f8eedf), to(#e8d8c0));
  background: -moz-linear-gradient(left, #f8eedf, #e8d8c0);
  background: linear-gradient(left, #f8eedf, #e8d8c0);
}
.content .well,
.content .answers,
.exercise.thumbnail {
  background-color: #fcf2e3;
  background-image: none;
  border-color: #dfcdb2;
}
.workout.thumbnail {
  background-color: #dfcdb2;
  background-image: none;
  border-color: #e8d8c0;
}
.breadcrumb { background-color: #f0e6d8; }


/* Navbar custom colors and highlighting */

.navbar-inverse {
  background-color: #40312a;
  background-image: none;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .navbar-link:hover,
.navbar-inverse .navbar-link:focus {
  background: #efb04f;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #fccc85;
  margin-right: -2px;
  text-shadow: 0 1px 0 #281f1b;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s;
}

/* Main nav links in navbar */
.navbar-inverse .nav > li > a, .navbar-inverse .navbar-link,
.navbar-inverse .nav-text { color: white; }

/* logo in navbar */
.navbar-inverse .navbar-brand {
  color: #3da2b4;
  text-shadow: 0 -1px 0 #2b1f1a;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #efb04f;
}

/* Basic text look */

h1 {
  color: #3da2b4;
  text-shadow: 0 -1px 0 #231914;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}

h2 { border-bottom: 1px solid #333; }

a { color: #3da2b4; font-weight: bold; }
a:hover, a:focus { color: #247184; }
.navbar a { font-weight: inherit; }

.btn-primary {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f9a732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB450', endColorstr='#FFF89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
    color: white;
    background-color: #f89406;
    *background-color: #df8505; }
  &:active, &.active { background-color: #c67605; }
}


/* Thumbnails */
.thumbnail .title a { color: #247184; }
.thumbnail .title .xp { background-color: #40312a; color: white; }


/* Codemirror */

.CodeMirror {
  border: 1px solid #6c6f70;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.field_with_errors .CodeMirror-scroll {
  border-color: #ce4753;
}

.CodeMirror-focused {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


/* Right sidebar text */

.sidebar h2 {
  color: #3da2b4;
  text-shadow: 0 -1px 0 #231914;
  background: -webkit-gradient(linear, left top, right top,
    from(#dfcdb2), to(#e8d8c0));
  background: -moz-linear-gradient(left, #dfcdb2, #e8d8c0);
  background: linear-gradient(left, #dfcdb2, #e8d8c0);
}
.sidebar h3, .sidebar h3 a {
  color: #d6a75d;
}
.sidebar h3 a:hover, .sidebar h3 a:active { color: #247184; }

.sidebar article time { color: #d6a75d; }

.form-actions { background-color: inherit; border-top: none; }
.inputs .control-label abbr[title] { color: #d00; border-bottom: none; }
.table.table-striped { background-color: white; }

.label-info[href] { background-color: #3a87ad; }
.label-info[href]:hover, .label-info[href]:active, .label-info[href]:focus {
  background-color: #247184;
}

/* Authoring form */

.darker-bkg  {
  background: -webkit-gradient(linear, left top, right top,
    from(#dfcdb2), to(#e8d8c0));
  background: -moz-linear-gradient(left, #dfcdb2, #e8d8c0);
  background: linear-gradient(left, #dfcdb2, #e8d8c0);
}

/* Search results */
.teaser-title p {
  color: #3da2b4;
  text-shadow: 0 -1px 0 #231914;
  background: -webkit-gradient(linear, left top, right top,
    from(#dfcdb2), to(#e8d8c0));
  background: -moz-linear-gradient(left, #dfcdb2, #e8d8c0);
  background: linear-gradient(left, #dfcdb2, #e8d8c0);
}