<style>
	.filtersort {
		margin-left: 10px;
		margin-top: 10px;
		font-size: 11pt;
	}

</style>

<div class="row form-inline filtersort">

	<div style="float:left; padding-left: 1px;">
		<span>Filter</span>
		<input  style="width: 192px; margin-left: 2px; border-radius: 3px;" input="text" placeholder="Search for workout"/>
	</div>
</div>

