<div class="container">
	<div id="heading">
		<div class="row col-lg-9">
			<h1>Course Title</h1>
		</div>
	</div>

	<br>
	</br>

	<div id="sections">

		<div class="row">

			<div class="col-lg-3 text-center">
				<strong>Sections</strong>
			</div>
			<div class="col-lg-3 text-center">
				<strong>Teachers</strong>
			</div>
			<div class="col-lg-3 text-center">
				<strong>Graders</strong>
			</div>

		</div>

		<div class="row">

			<div class="col-lg-3 text-center">
				CRN 12345
			</div>

			<div class="col-lg-3 text-center">
				Abcde
			</div>
			<div class="col-lg-3 text-center">
				Al,Go
			</div>

		</div>

		<div class="row">

			<div class="col-lg-3 text-center">
				CRN 56789
			</div>
			<div class="col-lg-3 text-center">
				Pyth
			</div>
			<div class="col-lg-3 text-center">
				Styl
			</div>

		</div>

	</div>
	<br>
	</br>
</div>
