%p#notice= notice

.row
  .col-md-12
    %strong
    =@course.name + "(" + @course.number + ")"
.row
  .col-md-12
    %strong Offerings:
    -@course.course_offerings.each do |off|
      .row
        .col-md-12
          =off.name
          =off.label


= button_link 'Edit', edit_course_path(@course)
= button_link 'Back', courses_path
