%h1 Editing Course Offering

= render 'form'

.form-horizontal
  .controls
    = link_to @course_offering, class: 'btn' do
      %i.icon-zoom-in
      Show
    = link_to course_offerings_path, class: 'btn' do
      %i.icon-reply
      Back
