.container
  %h1 New Course Offering

  - if @course && @organization
    %p.lead
      Creating an offering of
      = link_to @course.display_name, organization_course_path(organization_id: @organization.id, id: @course.id)
      at
      = link_to @organization.name, organization_path(@organization)

  = render partial: 'form', locals: { term: @term }
