.container
  %h1 New Course Offering

  - if @course && @organization
    %p.lead
      Creating an offering of
      = @course.display_name
      at
      = @organization.name

  = render partial: 'form', locals: { term: @term }
