{{#java}}
  @Test
      public void test_{{id}}()
      {
          assertEquals(
            {{expected_output}},
            "{{negative_feedback}}",
            subject.{{method_name}}({{input}}));
      }
{{/java}}



{{#ruby}}
  def test{{id}}
    assert_equal({{expected_output}}, @@subject.{{method_name}}({{input}}), "{{negative_feedback}}")
  end
{{/ruby}}



{{#python}}
  def test{{id}}(self):
      self.assertEqual({{expected_output}}, self.__{{method_name}}({{input}}))
{{/python}}



{{#cpp}}
  void test{{id}}()
  {
      TSM_ASSERT_EQUALS(
        "{{negative_feedback}}",
        {{expected_output}},
        subject.{{method_name}}({{input}}));
  }
{{/cpp}}