// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Add the Website's logo. Displayed on the top-left corner of the page.
// $skinLogo: url("logo.png") no-repeat 0 0;

// Color is applied to buttons, drop-down lists etc. in the AA UI
$skinActiveColor: #f9a732;

// Applied to the main header of Active Admin
$skinHeaderBck: #40312a;

// Applied to the header of AA filters.
$panelHeaderBck: #40312a;

// @import "active_skin";
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

table.index_table td { color: #333; white-space: nowrap; }
.attributes_table table td { color: #333; }
body.admin_errors .attributes_table table .row-trace td { white-space: pre; }
body.admin_errors table.index_table td.col-message { white-space: normal; }
body { font-size: 12px; }
// .main_content { overflow-x: scroll; }
// #title_bar { padding-left: 0; padding-right: 0; }
// #titlebar_left { padding-left: 30px; }
// #titlebar_right { padding-right: 30px; }

//#active_admin_content { width: 100%; }
