/* img {

  max-width: 58%;
  height: auto;
}

.image-upload > input
{
   display: none;
}


.description-upload > input
{
  display: none;
}


.image-upload > label{
  cursor:pointer;
  padding-left: 1em;

}

.hidden
{
    display: none;
}

.iconpadding
{
  padding-left: 1em;

} */
