%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Courses


%h1 Courses by Organization

- @organizations.each do |organization|
  %h2= organization.name

  %ul
    - if organization.courses.any?
      - organization.courses.each do |course|
        %li= link_to course.number_and_name,
          organization_course_path(organization, course)
    - else
      %li This organization does not have any courses yet.
