%h1 Organizations

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Abbreviation
      %th Actions

  %tbody
    - @organizations.each do |organization|
      %tr
        %td= organization.name
        %td= organization.abbreviation
        %td
          = button_link 'Show', organization, size: 'sm'
