%h2#head
  Choose or create an organization

%p
  Type in the first few letters of your organization to search for it.
  %br
  If you cannot find it, you may create an organization by typing in a new
  name.
.form-horizontal
  .ui-widget
    .form-group
      .col-md-6
        %input.form-control.select-org
      .col-md-6
        %small.new-msg.col-xs-11.text.text-warning{ style: 'display: none' }
          To add a new organization, type in a name and abbreviation, like: My University (MY)
