%h1#head
  Choose or create an organization

%p
  Type in the first few letters of your organization to search for it.
  %br
  If you cannot find it, you may create an organization by typing in a new
  name.
.form-horizontal
  .form-group
    = label_tag :organization, 'Organization Name', class: 'control-label col-xs-3'
    .col-xs-12.col-md-5
      .ui-widget
        = text_field_tag :organization, nil, id: 'organization', class: 'form-control input-sm',
          placeholder: 'Start typing your organization name'
    .col-xs-4
      %button.new-org#btn-org.btn.btn-default.btn-sm{ style: 'display: none' }
        Cancel
    %small.new-org#hint.col-md-5.col-xs-12.text.text-warning{ style: 'display: none' }
      To add a new organization, type in a name, like: Monsters University

  .form-group.new-org{ style: 'display: none' }
    = label_tag :abbr, 'Abbreviation', class: 'control-label col-xs-3'
    .col-xs-2
      = text_field_tag :abbr, nil, id: 'abbr', class: 'form-control input-sm', maxlength: 6,
        placeholder: "suggested: MU"
    .col-xs-1
      %button#btn-unique.btn.btn-default.btn-sm
        Available?
    .col-xs-1
      %i#uniqueness.fa.fa-question-circle{ aria_hidden: 'true' }
    %small.col-xs-4#hint.text.text-warning
      Enter a lowercase
      %strong
        unique
      ID for your organization

  .form-group.new-org{ style: 'display: none' }
    %button.col-xs-offset-1#btn-submit-org.btn.btn-primary Submit
