/* Color scheme */

.cm-s-aptana .cm-keyword { color: rgb(205, 168, 105); }
.cm-s-aptana .cm-atom { color: rgb(207, 106, 76); }
.cm-s-aptana .cm-number { color: rgb(207, 106, 76); }
.cm-s-aptana .cm-def { color: rgb(155, 112, 63); }
.cm-s-aptana .cm-variable { color: white; }
.cm-s-aptana .cm-variable-2 { color: rgb(117, 135, 166); }
.cm-s-aptana .cm-variable-3 { color: #faded3; }
.cm-s-aptana .cm-property { color: rgb(135, 154, 181); }
.cm-s-aptana .cm-operator { color: rgb(205, 168, 105); }
.cm-s-aptana .cm-comment { color: rgb(95, 90, 96); font-style:italic; }
.cm-s-aptana .cm-string { color: rgb(143, 157, 106); }
.cm-s-aptana .cm-string-2 { color: rgb(221, 242, 164); }
.cm-s-aptana .cm-meta { color: rgb(172, 136, 91); }
.cm-s-aptana .cm-error { color: #AF2018; }
.cm-s-aptana .cm-qualifier { color: yellow; }
.cm-s-aptana .cm-builtin { color: #9999cc; }
.cm-s-aptana .cm-bracket { color: #24C2C7; }
.cm-s-aptana .cm-tag { color: rgb(224, 197, 137); }
.cm-s-aptana .cm-attribute {  color: #9B859D; }
.cm-s-aptana .cm-header { color: blue; }
.cm-s-aptana .cm-quote { color: #24C2C7; }
.cm-s-aptana .cm-hr { color: pink; }
.cm-s-aptana .cm-link { color: #F4C20B; }
.cm-s-aptana .cm-special { color: #FF9D00; }

.cm-s-aptana .CodeMirror-matchingbracket { color: #0f0; }
.cm-s-aptana .CodeMirror-nonmatchingbracket { color: #f22; }

.cm-s-aptana .CodeMirror-selected {
  background: #3e4043;
}
.CodeMirror-focused .cm-s-aptana .CodeMirror-selected {
  background: #3e4043;
}

/* Editor styling */

.cm-s-aptana {
  color: #E6E1DC;
  background-color: black;
}

.cm-s-aptana .CodeMirror-gutter {
  background: #3D3D3D;
}

.cm-s-aptana .CodeMirror-gutter .CodeMirror-gutter-text {
  color: #222;
}

.cm-s-aptana .CodeMirror-lines .CodeMirror-cursor {
  border-left: 1px solid #7991E8;
}

.cm-s-aptana .activeline {
  background: none repeat scroll 0% 0% #222;
}

.cm-s-aptana .CodeMirror-gutters { min-height: 46px; }

/*
.cm-s-aptana {
  line-height: 1.40em;
  font-family: Monaco, Menlo,"Andale Mono","lucida console","Courier New",monospace !important;
  font-size: 12px;
  color: #E6E1DC;
  background-color: #202020;
  -webkit-box-shadow: inset 0 0 10px black;
  -moz-box-shadow: inset 0 0 10px black;
  -o-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
}

.cm-s-aptana .CodeMirror-gutter {
  background: #3D3D3D;
  padding: 0 5px;
  text-shadow: #333 1px 1px;
  border-right: 1px solid #4D4D4D;
  box-shadow: 0 10px 20px black;
}

.cm-s-aptana .CodeMirror-gutter .CodeMirror-gutter-text {
  text-shadow: 0px 1px 1px #4d4d4d;
  color: #222;
}

.cm-s-aptana .CodeMirror-lines {

}

.cm-s-aptana .CodeMirror-lines .CodeMirror-cursor {
  border-left: 1px solid #7991E8;
}

.cm-s-aptana .activeline {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.031);
}
*/