.nested-fields
  = f.inputs do
    .row.darker-bkg
      .row
        .col-md-10
          = f.input :answer, as: :string,
            label: "Choice text"
      .row
        .col-md-10
          = f.input :value, as: :number,
            label: "Points for this choice"
      .row     
        .col-md-10
          = f.input :feedback, as: :string,
            label: "Choice explanation"