.nested-fields
  = f.inputs do
    .row.darker-bkg
      .row             
        .col-md-3
          = f.input :version, as: :hidden,
            input_html: {value: 1}    
        .col-md-3
          = f.input :creator,  as: :hidden,
            input_html: {value: current_user.email}
