#exercise_feedback
  - if !Attempt.where(user_id: current_user.id,exercise_id: @exercise.id).blank?
    = Choice.find(Attempt.where(user_id: current_user.id,exercise_id: @exercise.id).last.answer.to_i).feedback
    %br
    - if params[:wexes].nil?
      = link_to 'Finish Workout', workout_evaluate_path(:uid => current_user.id,:wid => session[:current_workout])
    - elsif params[:wexes][1..-1].count>=0
      = link_to 'Next question', exercise_practice_path(:id => params[:wexes].first, :wexes => params[:wexes][1..-1]), method: :get
      
