%h2 Search for exercises
.row.search-area
  = form_tag exercises_search_path(params[:language],params[:search]), method: :get, remote: true do
    .col-xs-3
      = select_tag :language, options_for_select(@languages_list, "name"),{:class => 'form-control input-sm'}
    .col-xs-6
      = text_field_tag :search, nil, placeholder: 'e.g. recursion', class: 'form-control input-sm', id: 'search-terms'
    .col-xs-3
      = submit_tag 'Search', class: 'btn btn-inverse btn-sm'
.row
  .search-results
    Enter search terms above and choose results you want to add!
