= semantic_form_for @exercise_version, url: exercises_upload_create_path do |f|
  = f.semantic_errors
  .row
    .col-md-9
      = f.input :text_representation, maxlength: 16.megabytes - 1, as: :text,
        input_html: { class: 'code', autofocus: true, data: { lang: 'text/x-yaml' } },
        label: 'YAML Representation of the Exercise'
  .row
    = f.submit class: 'btn btn-primary'
