= form_tag({:controller => "exercises", :action => "search", :method => "get"}, {:class =>"navbar-search"})  do
  #input-append
    .span5
      = text_field_tag :search, params[:search], :id => "search_field",
        :class => "search-query", 
        :placeholder => "search exercises...",
        :size => "5"
      = content_tag :button, :type => :submit, :class => "btn btn-inverse" do
        %i.icon-search