= form_tag controller: "/exercises", action: "search" do
  .row.search
    .input-group
      = text_field_tag :search, params[:search], id: "search_field",
          class: "input input-medium form-control search-query",
          placeholder: "Search exercises..."
      %span.input-group-btn
        = content_tag :button, type: :submit, class: "btn btn-default" do
          %i.fa.fa-search
          Search
