.nested-fields
  = f.inputs do
    .row.darker-bkg
      .row
        .col-md-6
          = f.input :tag_name, :as => :text,
            placeholder: "Enter tag",
            :input_html => { :class => 'col-md-10', :rows => 1 }
        .col-md-4
          = link_to_remove_association "Remove tag...", f