.well.well-sm.col-md-4
  .row.one-line
    %p.teaser-title.col-md-10.slim
      %span.badge.badge-info
        %i.fa.fa-bolt
      = link_to x.title, exercise_practice_path(:id => x[:id])
    .col-md-2
      = difficulty_image(x.experience.to_i)
  .row.one-line
    -if x.tags.empty?
      &nbsp; &nbsp;
    - x.tags.each do |t|
      =link_to(t[:tag_name], search_path(:search => t[:tag_name]), method: :post, class: "tag")
  .row.one-line
    = x.teaser_text