<div>
	<div class="excercise-thumbnail">

		<div class="excercise-title">
			<span class="glyphicon glyphicon-list-alt"></span>
			<span>Excercise Title</span>
		</div>

		<div class="excercise-text spacer">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry
		</div>

		<div class="excercise-tagandpoints spacer">
			<span>tag1</span>
			<span>tag2</span>

			<span class="excercise-points">?/10pts</span>
		</div>

	</div>

	<div class="progress excercise-thumbnail-progress">
		<div class="progress-bar progress-graded " role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
			<span class="sr-only">Graded</span>
			</div>

	</div>

</div>