%article
  .well.well-small.teaser-title.col-md-12
    .row
      .col-md-10
        = link_to x.title, practice_path(:id => x[:id])
      .col-md-2
        = difficulty_image(x.experience.to_i)
    .row
      = x.teaser_text