%h1 Listing exercises

%table
  %thead
    %tr
      %th
      %th
      %th

  - @exercises.each do |exercise|
    %tr
      %td= link_to 'Show', exercise
      %td= link_to 'Edit', edit_exercise_path(exercise)
      %td= link_to 'Destroy', exercise, method: :delete,
        data: { confirm: 'Are you sure?' }

%p= link_to 'New Exercise', new_exercise_path
