%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Gym', gym_url
  %li.active Exercises

%h1 Exercises

- user_id = user_signed_in? ? current_user.id : 0
- @exercises.in_groups_of(2, false) do |row|
  = render partial: "exercises/thumblg", collection: row, as: :x,
    locals: { uid: user_id, wid: nil }
  .clearfix

%p= button_link 'Write your own exercise', new_exercise_path, btn: 'primary'
