%h1 New Exercise

- type = 1
- if params[:question_type] == 'Coding Question' || params[:question_type] == 'coding' || params[:question_type] == 'coding problem'
  - type = 2

= render 'form', qtype: type

%br
= link_to 'Back', exercises_path
