%h1 New Exercise
- if params[:question_type].nil?
  = link_to 'Create a coding problem', new_exercise_path(question_type: 'coding')
  %br
  = link_to 'Create an MCQ exercise', new_exercise_path(question_type: 'mcq')
- else
  - type = params[:question_type] == 'mcq' ? 1 : 2
  = render 'form', qtype: type

%br
= link_to 'Back', exercises_path
