- if not(@msg.empty?)
  .alert=@msg

- if not(@wos.empty?)
  .row-fluid
    %h2 Workouts
    = render partial: "workouts/thumblg", collection: @wos, as: :w
- if not(@exs.empty?)
  .row-fluid
    %h2 Individual Exercises
    = render partial: "exercises/thumblg", collection: @exs, as: :x            