- uid = user_signed_in? ? current_user.id : 0
- if not(@msg.empty?)
  .alert=@msg
- if not(@wos.empty?)
  %h2 Workouts
  = render partial: "workouts/thumblg", collection: @wos, as: :w,
    locals: { uid: uid, wid: nil }
- if not(@exs.empty?)
  %h2 Individual Exercises
  = render partial: "exercises/thumblg", collection: @exs, as: :x,
    locals: { uid: uid, wid: nil }
