<script id='exercise-template' type='text/html'>
  <li class='list-group-item' data-id='{{id}}' data-exercise-workout-id='{{exercise_workout_id}}'>
    <div class='row'>
      <div class='col-xs-1'>
        <i class='handle fa fa-bars'></i>
      </div>
      <div class='col-xs-4'>
        {{name}}
      </div>
      <div class='col-xs-2'>
        Points
      </div>
      <div class='col-xs-2'>
        <input class='text10 points form-control input-sm' placeholder='e.g 5' type='number' min='0' value='{{points}}' />
      </div>
      <div class='col-xs-1 col-xs-offset-1'>
        <i class='action delete-ex fa fa-times'></i>
      </div>
    </div>
  </li>
</script>
