<script id='extension-template' type='text/html'>
  <tr class='extension fields' data-id='{{ id }}' data-course-offering-id='{{ course_offering_id }}' data-student-id='{{ student_id }}'>
    <td style='font-size: small;'>{{ course_offering_display }}</td>
    <td style='font-size: small;'>{{ student_display }}</td>
    <td>
      <div class="input-group date opening-datepicker" data-date='{{ opening_date }}'>
        <input class='datepicker form-control' type='text' placeholder='Set date'/>
        <span class='input-group-addon'>
          <span class="glyphicon glyphicon-calendar"/>
        </span>
      </div>
    </td>
    <td>
      <div class="input-group date soft-datepicker" data-date='{{ soft_deadline }}'>
        <input class='datepicker form-control' type='text' placeholder='Set date'/>
        <span class='input-group-addon'>
          <span class="glyphicon glyphicon-calendar"/>
        </span>
      </div>
    </td>
    <td>
      <div class="input-group date hard-datepicker" data-date='{{ hard_deadline }}'>
        <input class='datepicker form-control' type='text' placeholder='Set date'/>
        <span class='input-group-addon'>
          <span class="glyphicon glyphicon-calendar"/>
        </span>
      </div>
    </td>
    <td><input class='form-control time-limit input-sm input' value='{{ time_limit }}' type='number' min='0' placeholder='Blank for default'></td>
    <td><i class='action delete-extension fa fa-times'></i></td>
  </tr>
</script>
