-#- if Rails.env.development?
-#  .debug
-#    = debug(params)
%footer.footer.navbar.navbar-inverse.navbar-fixed-bottom
  .navbar-inner
    .container-fluid
      %nav.nav-collapse.collapse
        %ul.nav
          %li= link_to 'CodeWorkout', root_path
          %li.nav-text  &copy; Virginia Tech
          %li= link_to "About", about_page_path
          %li= link_to "License", license_page_path
          %li= link_to "Contact", contact_page_path
       
       
