%footer.footer.navbar.navbar-inverse.navbar-fixed-bottom
  .navbar-inner
    .container-fluid
      %nav.nav-collapse.collapse
        %ul.nav
          %li= link_to 'CodeWorkout', root_path
          %li.nav-text  &copy; Virginia Tech
          %li= link_to "About", '#'
          %li= link_to "Contact", '#'
