-#%form.form-search
-#  = form_for :exercise, :url =>{:controller => "exercises", :action =>"search", :id => @exercises}  do |f|
-#    %input.input-medium.search-query{ type: 'text', placeholder: 'find topics ...' }
-#    %button.btn.btn-default{ type: 'submit' }
-#      %i.fa.fa-search
-#      Search
-#= render :partial => 'exercises/search'
- if session[:current_workout]
  - puts "WORKOUT"
  - p Workout.find(session[:current_workout])
  - puts "WORKOUT"  
  = render partial: 'workouts/status',
    locals: { w: Workout.find(session[:current_workout]),
    exs: Exercise.includes(:workouts).where(["workouts.id = ?",
    session[:current_workout]]).references(:workouts).limit(10),
    wid: session[:current_workout] }
- elsif user_signed_in? && session[:leaf_exercises]
  = render partial: "exercises/exercise",
    collection: Exercise.find(session[:leaf_exercises]),
    as: :x,
    locals: { uid: current_user.id, wid: nil }
.clearfix
