%form.form-search
  %input.input-medium.search-query{ type: 'text', placeholder: 'find topics ...' }
  %button.btn.btn-default{ type: 'submit' }
    %i.icon-search
    Search

%h2 Assigned

%article
  %time July 30
  %h3
    %a{ href: '#' } A-level/B-status
    %span.difficulty (difficulty: 8)
  %p
    What output will the following code fragment produce? ...
    %br
    %a.tag{ href: '#' } tag1
    %a.tag{ href: '#' } tag2
    %a.tag{ href: '#' } tag3
    %a.tag{ href: '#' } tag4
    %a.tag{ href: '#' } tag5

%article
  %time July 30
  %h3
    %a{ href: '#' } A-level/B-status
    %span.difficulty (difficulty: 8)
  %p
    What output will the following code fragment produce? ...
    %br
    %a.tag{ href: '#' } tag1
    %a.tag{ href: '#' } tag2
    %a.tag{ href: '#' } tag3
    %a.tag{ href: '#' } tag4
    %a.tag{ href: '#' } tag5

%article
  %time July 30
  %h3
    %a{ href: '#' } A-level/B-status
    %span.difficulty (difficulty: 8)
  %p
    What output will the following code fragment produce? ...
    %br
    %a.tag{ href: '#' } tag1
    %a.tag{ href: '#' } tag2
    %a.tag{ href: '#' } tag3
    %a.tag{ href: '#' } tag4
    %a.tag{ href: '#' } tag5

%h2 Attempted

%article
  %time July 30
  %h3
    %a{ href: '#' } A-level/B-status
    %span.difficulty (difficulty: 8)
  %p
    What output will the following code fragment produce? ...
    %br
    %a.tag{ href: '#' } tag1
    %a.tag{ href: '#' } tag2
    %a.tag{ href: '#' } tag3
    %a.tag{ href: '#' } tag4
    %a.tag{ href: '#' } tag5

%article
  %h3
    %a{ href: '#' } A-level/B-status
    %span.difficulty (difficulty: 8)
  %p
    What output will the following code fragment produce? ...
    %br
    %a.tag{ href: '#' } tag1
    %a.tag{ href: '#' } tag2
    %a.tag{ href: '#' } tag3
    %a.tag{ href: '#' } tag4
    %a.tag{ href: '#' } tag5

%article
  %h3
    %a{ href: '#' } A-level/B-status
    %span.difficulty (difficulty: 8)
  %p
    What output will the following code fragment produce? ...
    %br
    %a.tag{ href: '#' } tag1
    %a.tag{ href: '#' } tag2
    %a.tag{ href: '#' } tag3
    %a.tag{ href: '#' } tag4
    %a.tag{ href: '#' } tag5

%h2 Recommended

%article
  %h3
    %a{ href: '#' } A-level/B-status
    %span.difficulty (difficulty: 8)
  %p
    What output will the following code fragment produce? ...
    %br
    %a.tag{ href: '#' } tag1
    %a.tag{ href: '#' } tag2
    %a.tag{ href: '#' } tag3
    %a.tag{ href: '#' } tag4
    %a.tag{ href: '#' } tag5

%article
  %h3
    %a{ href: '#' } A-level/B-status
    %span.difficulty (difficulty: 8)
  %p
    What output will the following code fragment produce? ...
    %br
    %a.tag{ href: '#' } tag1
    %a.tag{ href: '#' } tag2
    %a.tag{ href: '#' } tag3
    %a.tag{ href: '#' } tag4
    %a.tag{ href: '#' } tag5

%article
  %h3
    %a{ href: '#' } A-level/B-status
    %span.difficulty (difficulty: 8)
  %p
    What output will the following code fragment produce? ...
    %br
    %a.tag{ href: '#' } tag1
    %a.tag{ href: '#' } tag2
    %a.tag{ href: '#' } tag3
    %a.tag{ href: '#' } tag4
    %a.tag{ href: '#' } tag5
