-#%form.form-search
-#  = form_for :exercise, :url =>{:controller => "exercises", :action =>"search", :id => @exercises}  do |f|
-#    %input.input-medium.search-query{ type: 'text', placeholder: 'find topics ...' }
-#    %button.btn.btn-default{ type: 'submit' }
-#      %i.fa.fa-search
-#      Search
-#= render :partial => 'exercises/search'
- if user_signed_in? && current_user.current_workout_score
  = render partial: 'workouts/status',
    locals: { workout_score: current_user.current_workout_score , review: !params[:review_user_id].nil?}
- elsif user_signed_in? && session[:leaf_exercises]
  = render Exercise.find(session[:leaf_exercises]),
    user: current_user, size: 'sm'
.clearfix
